<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= 'URL Shortener'
        style
            include ../assets/style.css
    body
        div.container#pug-container
            h4.outputHead= 'Shortened URL'
            div.example-box 
                strong.outputVal='Original URL  :  '
                code= `"${originalUrl}"`
                br
                br
                strong.outputVal="Short URL  :  "
                a(href=`/api/shorturl/${shortUrl}`).output= shortUrl